$color-blue-light: rgb(91, 91, 137);
$color-blue-dark: rgb(60, 60, 72);
$green:rgb(8, 137, 137);

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #ebecf0;
$color-grey-dark2:#333;

$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font size
$font-size: 1.5rem;