<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>5-day forecast</title>
</head -->
<div onload="fetch_fiveDay()">
    <section class="five-day__forecast box-shadow">
        <div class="five-day__forecast--details">
            <div class="row selected-box">
                <div class="col-1-of-5 selected_col">
                    <h2 class="green-header">.</h2>
                    <p class="p1 p1-month">.</p>
                    <div id="icon3" class="rain">&nbsp;</div>
                    <p class="p2">.</p>
                    <p class="five-day-weather">.</p>
                </div>

                <div class="col-1-of-5">
                    <h2 class="green-header">.</h2>
                    <p class="p1 p1-month">.</p>
                    <div id="icon3" class="">&nbsp;</div>
                    <p class="p2">.</p>
                    <p class="five-day-weather">.</p>
                </div>

                <div class="col-1-of-5">
                    <h2 class="green-header">.</h2>
                    <p class="p1 p1-month">.</p>
                    <div id="icon3" class="">&nbsp;</div>
                    <p class="p2">.</p>
                    <p class="five-day-weather">.</p>
                </div>

                <div class="col-1-of-5">
                    <h2 class="green-header">.</h2>
                    <p class="p1 p1-month">.</p>
                    <div id="icon3" class="">&nbsp;</div>
                    <p class="p2">.</p>
                    <p class="five-day-weather">.</p>
                </div>

                <div class="col-1-of-5">
                    <h2 class="green-header">.</h2>
                    <p class="p1 p1-month">.</p>
                    <div id="icon3" class="">&nbsp;</div>
                    <p class="p2">.</p>
                    <p class="five-day-weather">.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="selected-day__forecast box-shadow">
    <div class="hourly_details">
        <div class="row">
            <h2 class="green-header h2">hourly</h2>
            <div class="">
                <div class="col-1-of-6 hourly_details--temp">
                    <h2 class="h2">TODAY</h2>
                    <div id="selected_day1" class="rain"></div>
                    <p class="p p1">Forecast</p>
                    <p class="p p1">Temp(&#8451;)</p>
                    <p class="p p1">RealFeel</p>
                    <p class="p p">Wind(Km/h)</p>
                </div>

                <div class="col-1-of-6 hourly_details--temp">
                    <h2 class="time">time</h2>
                    <div id="selected_day" class=""></div>
                    <p class="p weather">Sunny</p>
                    <p class="p Temp">29&#176;</p>
                    <p class="p realfeel">29&#176;</p>
                    <p class="p wind1">29 ESE</p>
                </div>

                <div class="col-1-of-6 hourly_details--temp">
                    <h2 class="time">time</h2>
                    <div id="selected_day" class=""></div>
                    <p class="p weather">Sunny</p>
                    <p class="p Temp">29&#176;</p>
                    <p class="p realfeel">29&#176;</p>
                    <p class="p wind1">29 ESE</p>
                </div>

                <div class="col-1-of-6 hourly_details--temp">
                    <h2 class="time">time</h2>
                    <div id="selected_day" class=""></div>
                    <p class="p weather">Sunny</p>
                    <p class="p Temp">29&#176;</p>
                    <p class="p realfeel">29&#176;</p>
                    <p class="p wind1">29 ESE</p>
                </div>

                <div class="col-1-of-6 hourly_details--temp">
                    <h2 class="time">time</h2>
                    <div id="selected_day" class=""></div>
                    <p class="p weather">Sunny</p>
                    <p class="p Temp">29&#176;</p>
                    <p class="p realfeel">29&#176;</p>
                    <p class="p wind1">29 ESE</p>

                </div>

                <div class="col-1-of-6 hourly_details--temp">
                    <h2 class="time">time</h2>
                    <div id="selected_day" class=""></div>
                    <p class="p weather">Sunny</p>
                    <p class="p Temp">29&#176;</p>
                    <p class="p realfeel">29&#176;</p>
                    <p class="p wind1">29 ESE</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../js/selected-col.js"></script>
<script src="../js/5-day-forecast.js"></script>

</div>



