.nearby__places--details{
    
    .row{
        &--1{
            .col-1-of-2{
                margin-bottom: 1rem;
            }
        }

        &--1 , &--2{
            padding-left: 3rem;

           .col-1-of-2{
            border-radius: .5rem;
            background-color: rgb(250, 250, 250);

            p{
                float: left;
                padding: .5rem 2rem;
                text-transform: uppercase;
                font-weight: 500;

                &:last-child{
                    padding-left:22rem;
                }
            }

            &:not(:last-child){
                margin-right: 2rem !important;
            }
            }
        }
    }
}