*,
*::before,
*::after
{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html{
    // this define what 1rem should be
    font-size: 62.5%;
    backface-visibility: hidden;
  //  background-color: $color-grey-light;
}

