.u-center-text{
    text-align: center;
}

.u-margin-button-big{
    margin-bottom: 8rem;
}

.width-center{width: 80%;}
.box-shadow{  
    width: 100rem;
    margin:7rem auto;
    border-radius: 1.2rem;
    box-shadow: -1rem -1rem 2rem rgba(white, 1), 1.3rem 1.3rem 2rem rgba(#c8d0e7, 1);
}

.selected_col{ background-color: rgb(250, 250, 250);}
.border_buttom{ border-bottom: 5px solid $green !important;}

.background-color-grey{background-color: $color-grey-light;}

.u-margin-buttom-medium{ margin-bottom: 4rem;}
.u-margin-button-small{ margin-bottom: 1.5rem;}

.u-margin-top-medium{ margin-top: 6rem;}

.color-black{color: black;}